# Entorno virtual
venv/
.venv/
env/
ENV/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Configuración IDE y sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Directorios de compilación y temporales
build/
*.obj
*.o
*.exp
*.lib
*.ilk
*.pdb

# Qt desplegados
Qt6*.dll
D3Dcompiler_47.dll
opengl32sw.dll
generic/
iconengines/
imageformats/
networkinformation/
platforms/
styles/
tls/

